<head>
  <meta charset="iso-8859-1">
</head>
{{yield}}

<div class="container">
  <button class="btn btn-default" {{action "formShow"}}>Add Citation</button>
  <div class="row">
    <div class="col-sm-6" id="csl-outer-block">
      <div id="csl-inner-block">
        <div class="csl-content-block" id="csl-content-block"></div>
      </div>
    </div>
  </div>
  {{#if isClicked }}
  <div class="row">
    <div class="col-sm-6" id="csl-outer-block">
      <div id="csl-inner-block">
        <div class="csl-content-block" id="csl-form-block">
            <form class="add-citation-form" id="myform" type="post">
              <div class="row">
                <div class="col-sm-5 form-group  elements">
                  <p>{{input value=attrs.submitted.family class="form-control" placeholder="Family Name"}}</p>
                </div>
                <div class="col-sm-5 form-group elements">
                  <p>{{input value=attrs.submitted.given id='given-name' class="form-control" placeholder="Given Name"}}</p>
                </div>
                <button class="btn btn-default"><i class="fa fa-plus"></i></button>
              </div>
              <div class="row">
                <div class="col-sm-12 form-group elements">
                  {{input value=attrs.submitted.title class="form-control" placeholder="Title"}}
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 form-group elements">
                  <p>{{input value=attrs.submitted.containerTitle class="form-control" placeholder="Container Title"}}</p>
                </div>
              </div>
              <div class="row">
                  <div class="col-sm-4 form-group elements">
                    <p>{{input value=attrs.submitted.page class="form-control" placeholder="Page"}}</p>
                  </div>
                  <div class="col-sm-4 form-group elements">
                    <p>{{input value=attrs.submitted.volume class="form-control" placeholder="Volume"}}</p>
                  </div>
                  <div class="col-sm-4 form-group elements">
                    <p>{{input value=attrs.submitted.issue class="form-control" placeholder="Issue"}}</p>
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-6 form-group elements">
                      {{input value=attrs.submitted.accessed id='date-accessed' class="form-control" placeholder="Date Accessed"}}
                  </div>
                  <div class="col-sm-6 form-group elements">
                      {{input value=attrs.submitted.issued id='date-issued' class="form-control" placeholder="Date Issued"}}
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-6 form-group elements">
                      {{input value=attrs.submitted.DOI id='DOI' class="form-control" placeholder="DOI"}}
                  </div>
                  <div class="col-sm-6 form-group elements">
                      {{#power-select
                        selected=submitted.type
                        placeholder="Type"
                        searchPlaceholder="Search"
                        options=content
                        onchange=(action (mut submitted.type))
                        as |name|
                      }}
                        {{name}}
                      {{/power-select}}
                  </div>
              </div>
              <div class="row">
                <div class="col-sm-12 form-group elements">
                  <p>{{input value=attrs.submitted.URL class="form-control" placeholder="URL"}}</p>
                </div>
              </div>
              {{#if isOpened }}
              <div class="row">
                <div class="col-sm-3 form-group">
                    {{input value=attrs.submitted.prefix id='prefix' class="form-control" placeholder="Prefix"}}
                </div>
                <div class="col-sm-3 form-group">
                    {{input value=attrs.submitted.suffix id='suffix' class="form-control" placeholder="Suffix"}}
                </div>
                <div class="col-sm-6 form-group">
                    {{input value=attrs.submitted.journalAbbr id='journal-abbr' class="form-control" placeholder="Journal Abbr."}}
                </div>
              </div>
              <div class="form-group">
                  {{input value=attrs.submitted.editor id='editor' class="form-control" placeholder="Editor"}}
              </div>
              <p>{{input value=attrs.submitted.shortTitle class="form-control" placeholder="Short Title"}}</p>

              <div class="row">
                  <div class="col-sm-4 form-group">
                      {{input value=attrs.submitted.publisher id='publisher' class="form-control" placeholder="Publisher"}}
                  </div>
                  <div class="col-sm-4 form-group">
                      {{input value=attrs.submitted.year id='year' class="form-control" placeholder="Year"}}
                  </div>
                  <div class="col-sm-4 form-group">
                      {{input value=attrs.submitted.location id='location' class="form-control" placeholder="Location"}}
                  </div>
              </div>
              {{/if}}
              <p><button class="btn" {{action 'submit' }} {{ action 'updatesCitations'}}>Submit</button>
              <button class="btn" {{action "formClear"}}>Cancel</button>
              <button class="btn" {{action "formExtend"}}{{action "changeClass"}}>Advanced <i id="advanced-icon" class="{{advancedIcon}}" ></i></button></p>
            </form>
        </div>
      </div>
    </div>
  </div>
  {{/if}}
</div>

{{yield}}
